html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.active {
  @apply text-orange-500 dark:text-yellow-400;
}

.nav li {
  @apply hover:text-orange-500 dark:hover:text-yellow-400 cursor-pointer;
}

.bg {
  @apply bg-slate-300 dark:bg-blue1;
}

.circle {
  @apply w-4 h-4 rounded-full shadow-inner shadow-black dark:shadow-white opacity-50;
}

.swiper {
  @apply w-full;
}

.swiper-wrapper {
  @apply h-60 flex flex-row items-center;
}
.swiper-slide {
  @apply bg-white/50 rounded-lg p-4;
  height: 300px !important;
  width: 300px !important;
}